/*-------------------------------------  Footer  ------------------------------------------*/
.footer {
  padding: 50px 0 60px;
  background-image: url(../img/bg/footer-bg.jpg);
  @extend %flex-mid;
  flex-direction: column;
  @include var(color, clr-ntrl-min);
  @include xs(padding, 50px 0 30px);

  &__logo {
    margin-bottom: 30px;
    @include xs(margin-bottom, 20px);
  }

  &__copyright {
    font-family: 'Vidaloka', serif;
    font-size: 0.875rem;
    margin-bottom: 40px;
    @include xs(margin-bottom, 20px);

    span {
      @include var(color, clr-primary);
    }
  }

  &__social {
    font-size: 1.643rem;
    @include xs(font-size, 1.2rem);

    a {
      margin: 0 10px;
    }
  }
}